<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <!--logo-->
      <a class="navbar-brand" href="#">
        <img src="/assets/images/blog.svg" width="30" height="30" class="d-inline-block align-top" alt="logo">logify
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--signin / login-->
      <div class="col-md-11" *ngIf="!authService.isAuthenticated()">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
              <a class="nav-link" href="/login"> 
                SignIn 
              </a> 
            </li> 
            <li class="nav-item"> 
                <a class="nav-link bg" href="/register"> 
                  SignUp 
                </a> 
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-11" *ngIf="authService.isAuthenticated()">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
              <a class="nav-link" href="/addpost"> 
                Post +
              </a> 
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="/update-profile"> 
                Update Profile
              </a> 
            </li>
            <li class="nav-item"> 
              <a type="button" class="nav-link" (click)="showModal=true"> 
                Delete Profile
              </a> 
              <!-- Modal -->
              <div class="modal fade" [ngClass]="{'show':showModal}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Profile</h5>
                      <button type="button" (click)="showModal=false" class="close" data-dismiss="modal" aria-label="Close">
                        <span id="close-color" aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{u.username}} your account and blog will removed!!!
                    </div>
                    <div class="modal-footer">
                      <button type="button" (click)="showModal=false" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" (click)="deleteprofile()"class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"> 
              <a class="nav-link" href="/" (click)="logout()"> 
                LogOut
              </a> 
            </li>
          </ul>
        </div>
      </div>
</nav>