*{
    font-family: 'Poppins', sans-serif !important;
    
  }
.container{
  padding-top:3%;
}
#help{
  color:#FF8C00;
}
.alert{
  color:red !important;
  padding-left: 0px;
}
.btn-warning{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.example_f span {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.example_f:hover span {
  padding-right: 25px;
}
.example_f:hover span:after {
  opacity: 1;
  right: 0;
}