<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <div class="container">    
        <h1>You share things to <span>help</span> others.</h1>
        <hr>
        <editor 
        apikey="d7wjmox9lh5x3yqidefu28kp8pm3bbjztg67glcaqphci9d1"
        initialValue="<p>Delight in the details</p>"
        [init]="{
            height: 500,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print',
              'preview anchor searchreplace visualblocks code',
              'fullscreen insertdatetime media table paste',
              'help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | help'
          }"
        ></editor>
    </div>