<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div class="container">
<form [formGroup]="updateGroup" (ngSubmit)="onSubmit()">
    <h1>Update Profile</h1>
    <hr>
    <div class="row">
    
    <div class="col">
        <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" 
        [formControlName] = "'firstname'"
        class="form-control"
        >
        <div class="alert" role="alert" *ngIf="updateGroup.get('firstname').hasError('required') && updateGroup.get('firstname').touched">
            First name Required!
        </div>
        <div class="alert" role="alert" *ngIf="updateGroup.get('firstname').hasError('pattern')">
            machine have version number not hooman!
        </div>   
        </div>

        <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" 
        [formControlName] = "'lastname'"
        class="form-control">
        <div class="alert" role="alert" *ngIf="updateGroup.get('lastname').hasError('required') && updateGroup.get('lastname').touched">
            Last name Required!
        </div>  
        <div class="alert" role="alert" *ngIf="updateGroup.get('lastname').hasError('pattern')">
            machine have version number not hooman!
        </div> 
        </div>

        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" 
            [formControlName] = "'username'"
            class="form-control"
            required>
            <div class="alert" role="alert" *ngIf="updateGroup.get('username').hasError('required') && updateGroup.get('username').touched">
                User Name Required!
            </div>  
            </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
            [formControlName] = "'email'"
            class="form-control" 
             >
            <div *ngIf="updateGroup?.get('email')?.touched">
                <div class="alert" *ngIf="updateGroup?.get('email')?.hasError('required')">
                Email Required!
                </div>
                <div class="alert" *ngIf="updateGroup?.get('email')?.hasError('pattern')">
                Email Pattern mismatch!
                </div>
            </div> 
        </div>
    </div>
    
</div>
<hr>
    <button type="submit" class="btn btn-warning mt-4 example_f" [disabled]="updateGroup.invalid"><span>Submit</span></button>
</form>
</div>
